<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @admin_marca.nombre %>
</p>

<%= link_to 'Edit', edit_admin_marca_path(@admin_marca) %> |
<%= link_to 'Back', admin_marcas_path %>
